<div id="cadastro">
    <h1>Cadastrar Aluno</h1><hr>
    <div>
    Nome:<input style="position: absolute; right: 15px" type="text" [(ngModel)]="novoAluno.name"><br><br>
    Idade: <input style="position: absolute; right: 15px" type="number" [(ngModel)]="novoAluno.age"><br><br>
    Genero: <input style="position: absolute; right: 15px" type="text" [(ngModel)]="novoAluno.genre"><br><br>
</div><br>
    <button type="button" class="btn btn-dark btn-block" (click)="adicionarUsuario()">Cadastrar</button>
</div>

